﻿@font-face {
	font-family: 'Adventuring';
	src: url('Adventuring.woff') format('woff');
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

body {
	width:auto;
	height: auto;
	background-color: #FFFFFF;
}

header {
	width: 900px;
	height: 200px;
	background-color: #54D854;
	text-align: center;
	padding-top: 10px;
	margin: auto;
	background-image: url('Images/2colback.jpg');
}

section {
	width: 900px;
	background-image: url('Images/background.jpg');
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
}

.index {
	width: 900px;
	overflow: hidden;
	display: block;
    margin-left: auto;
    margin-right: auto;
    background-image:url('Images/background.jpg')
}

.main {
	width: 900px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url('Images/2colback.jpg')
}

nav {
	float: left;
	width: 250px;
}

article {
	float: left;
	width: 650px;
	text-align: center;
	font-family: Adventuring;
	font-size: large;
}

footer {
	text-align: center;
	width: 900px;
	height: 70px;
	margin: auto;
	font-family: Adventuring;
	background-image: url('Images/background.jpg');
}

.logoleft {
	float: left;
	padding-top: 5px;
	padding-left: 25px;
}

nav a {
	border: 4px outset #CCC;
	background-color: #d4afa6;
	line-height: 250%;
	font-weight: bold;
	font-size: 17px;
	color: #6C3C0D;
	font-style: oblique;
	padding: 10px;
	margin: 50px;

}

nav a:hover {
	color: #d4afa6;
	border:	2px outset #CCC;
	
}

.imageMap{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.articlePadding{
	padding-left:5px;
	padding-right:5px;
}

.articleLeftJustify{
	text-align:left;
}

.articleFavoritesJustify{
	text-align:left;
}

.articleFavoritesJustify h2{
	text-align:center;
}

hr {	border-style: solid;
        border-color: #C6CDDC;
        border-width: 1px;
}


.floatleft {
            float: left;
            padding-right: 10px;
            padding-bottom: 5px;
        }
        
.floatright {
            float: right;
            padding-left: 10px;
            padding-bottom: 5px;
        }

h1 {
	color: #FF0000;
	text-align: center;
	font-size: xx-large;
	font-style: italic;
	font-weight: bold;
	text-decoration: blink;
	width: 100;
	height: 100;
	background: White;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	margin-right: 50px;
}

h3 {
	color: #000000;
	font-family: Adventuring;
	font-size: xx-large;
	font-style: normal;
	font-weight: 400;
}

.directory {text-align: center; }

p {
	color: #000000;
	font-family: Adventuring;
}

.tribues {
	color: #000000;
	font-size: small;
	font-family: Adventuring;
}

blockquote {	color: #6C3C0D; }

.thumbnailleft {	float: left;
					padding-right: 10px;
					border: none; }
									
.thumbnailright {	float: right;
					padding-left: 10px;
					border: none; }
					
caption {	color: #694D13;
			font-size: 25px; 
			text-align: center;
			font-family: century, sans-serif;}

th {	padding: 10px; 
		color: #F0F0F0; }
				
td {	padding: 10px; 
		color: #F0F0F0; 
		background-color: #D46A6A;}
				
.accessories {	background-color: #D4886A; }

.head {	width: 30%;
		background-color: #769E46;	}

.ctr { text-align: center;
	   margin: 0 auto;
	   width: 550px; }
 
 #thumbs, #image {
	width: 500px;
	text-align: center;
	margin: 0 auto 0 auto;
	color: #000;
}

#thumbs {
	margin-top: 10px;
}

		
#thumbs img {
	border: solid 1px #000;
	margin: 3px;
}

.footer {
	font-size: small;
	background-image: url('Images/background.jpg');
}

#foo img[src="Images/banner.png"] {
	border-radius: 100px / 50px;
}
.GoshDarnImage {
	border-radius: 30px;
}
