﻿.print-off {
	display:none;
}

body {
	
}

header {
	width: 100%;
}

section {
	width: 100%;
	float:none
}

nav {
	display:none;
}

nav a {
	display:none;
}

article {
	float: left;
	width: 100%;
}

footer {
	display:none;
}

.logoleft {
	float: left;
	padding-top: 5px;
	padding-left: 25px;
}

.imageMap{
	display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.floatleft {
            float: left;
            padding-right: 10px;
            padding-bottom: 5px;
        }
        
.floatright {
            float: right;
            padding-left: 10px;
            padding-bottom: 5px;
        }

.directory {text-align: center; }

.tribues {
	color: #000000;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	font-size: small;
	font-family: Adventuring;
}

ul { color: #6C3C0D;
	 list-style-type: square; }

blockquote {	color: #6C3C0D; }

.thumbnailleft {	float: left;
					padding-right: 10px;
					border: none; }
									
.thumbnailright {	float: right;
					padding-left: 10px;
					border: none; }
					
caption {	color: #694D13;
			font-size: 25px; 
			text-align: center;
			font-family: century, sans-serif;}

th {	padding: 10px; 
		color: #F0F0F0; }
				
td {	padding: 10px; 
		color: #F0F0F0; 
		background-color: #D46A6A;}
				
.accessories {	background-color: #D4886A; }

.head {	width: 30%;
		background-color: #769E46;	}

.ctr { text-align: center;
	   margin: 0 auto;
	   width: 550px; }
 
 #thumbs, #image {
	width: 500px;
	text-align: center;
	margin: 0 auto 0 auto;
	color: #000;
}

#thumbs {
	margin-top: 10px;
}

		
#thumbs img {
	border: solid 1px #000;
	margin: 3px;
}
.footer {
	color: #6C3C0D;
	font-size: small;
}

#foo img[src="Images/banner.png"] {
	border-radius: 100px / 50px;
}
.GoshDarnImage {
	border-radius: 30px;
}
