@font-face {
  font-family: 'DISTGRG_';
  src: url('DISTGRG_.eot');
  src: url('DISTGRG_.woff2') format('woff2'),
       url('DISTGRG_.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '';
  src: ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DistantGalaxy';
  src: url('DistantGalaxy.woff') format('woff'),
       url('DistantGalaxy.ttf') format('truetype'),
       url('DistantGalaxy.svg#DistantGalaxy') format('svg');
  font-weight: normal;
  font-style: normal;
}

